.wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "a b ."
    ". c d"
    "e f ."
    ". g h"
    "j q ."
    ". r s";
    row-gap: 10px;
    
  background-color: #c4c4c4;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}
.g {
  grid-area: g;
}
.h {
  grid-area: h;
}
.j {
  grid-area: j;
}
.q {
  grid-area: q;
}
.r {
  grid-area: r;
}
.s {
  grid-area: s;
}
.username {
  
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  }
.wrapper > .username:nth-child(even){
  justify-content: flex-start;
}
.anie{
  /* display: flex;
  flex-direction: column; */
  /* justify-items: end; */
}
.name {
  font-size: 20px;
}
.status {
  font-style: italic;
  font-size: 8px;
  text-align: end;
}
.jacks {
  text-align: start;
}
.avatar{
  width: 70px;
  height: 70px;
  
}

.massage {
  background-color: rgb(228, 95, 95);
  border-radius: 20px 20px 20px 0;
  padding: 35px;
}
.wrapper >.massage:nth-child(odd) {
  background-color: greenyellow;
  border-radius: 20px 20px 0 20px;
}
.link {
  text-align: center;
  color: black;
  text-decoration: none;
}
